{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    
</head>

<body>

    

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shopping Cart</h1>
                    <nav class="d-flex align-items-center">
                        <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="{% url 'cart' %}">Cart</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Cart Area =================-->
{% if carts %}
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        {% for i in carts %}
                        <tbody>
                            <tr>
                                
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <a href="{% url 'product_detail' pk=i.product.pk %}">
                                            <img src="{{i.product.product_image.url}}" alt="" style="width: 150px;height: 150px;">
                                        </a>
                                        </div>
                                        <div class="media-body">
                                            <p>{{i.product.product_name}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>Rs.{{i.product_price}}</h5>
                                </td>
                                <td>

                                    <div class="product_count">
                                         <form method="post" action="{% url 'change_qty' pk=i.pk %}">
                                            {% csrf_token %}
                                        <input type="number" name="product_qty" id="sst" maxlength="12" value="{{i.product_qty}}" title="Quantity:"
                                            class="input-text qty" onchange="this.form.submit();">
                                        </form>
                                        
                                    </div>
                                </td>
                                <td>
                                    <h5>Rs.{{i.total_price}}</h5>
                                </td>
                            
                            </tr>
                            {% endfor %}
                            
                         
                            <tr>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <h3>Subtotal</h3>
                                </td>
                                <td>
                                    <h3>Rs.{{net_price}}</h3>
                                </td>
                            </tr>
                            
                                
                               
                                
                            <tr class="out_button_area">
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <div class="checkout_btn_inner d-flex align-items-center">
                                        <a class="gray_btn" href="{% url 'index' %}">Continue Shopping</a>
                                        <form method="post" action="{% url 'pay' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="amount" value="{{net_price}}">
                                        <input type="submit" value="Proceed For Payment" class="primary-btn">
                                        <!-- <a class="primary-btn" href="#">Proceed to checkout</a> -->
                                    </form>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->
    {% else %}
    <br><br>
    <center>
        <img src="{% static 'img/empty_cart.png' %}" style="width: 300px;height: 200px;">
        <br><br>
                            <h1>No Product In Cart</h1>
                            {% endif %}

</center>
<br><br><br><br><br><br>
</body>

</html>
{% endblock %}